/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Rubik+Bubbles&display=swap');

* {
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    background-color: #FDF5DF;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #5EBEC4;
    width: 100%;
    height: 12vw;
    margin-bottom: 2vw;
}

main {
    margin: 2vw 1vw 1vw 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 95vh;
    width: 95vw;
}

button {
    height: 4vw;
    width: 15vw;
    font-size: 2vw;
    background-color: #F92C85;
    color: #FDF5DF;
    border: none;
    border-radius: 1vw;
    font-family: 'Bakbak One', cursive;
}

h1 {
    text-align: center;
    font-size: 10vw;
    margin: -1vw 4vw .15vw 4vw;
    font-family: 'Bakbak One', cursive;
    color: #FDF5DF;
}

.boardSquare {
    border: thin solid black;
    /* height: 15vw;
    width: 15vw; */
    justify-self: stretch;
    border: thick solid #5EBEC4;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 10vw;
    color: #F92C85;
}

#gameModeContainer {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    margin: 0 1vw 2vw 1vw;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5vw;
    justify-items: stretch;
    height: 48vw;
    width: 48vw;
}

#infoContainer {
    /* margin-bottom: 6vh; */
    display: flex;
    padding: 0vw 17vw 3vw 0;
    justify-content: center;
    align-items: center;
    background-color: #5EBEC4;
    width: 30%;
    height: 6vw;
    text-align: left;
    border-radius: 1vw;
    border: none;
    color: #FDF5DF;
    font-family: 'Bakbak One', cursive;
}

#names {
    height: 2vw;
    width: 2vw;
    margin-bottom: 10vw;
    /* margin: 2vh 15vw 3vh 15vw; */
    font-size: 4vw;
    display: flex;
    flex-direction: column;
}

#x {
    margin-top: 2vw;
}

#y {
    margin-top: -2vw;
}

#x, #y {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#messageBoard {
    margin-top: -.65vw;
    font-size: 3vw;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5EBEC4;
    width: 35%;
    text-align: left;
    border-radius: 1vw;
    border: none;
    color: #FDF5DF;
    font-family: 'Bakbak One', cursive;
}

@media(max-width: 500px) {
    button {
        font-size: 2vw;
    }
}

@media(max-width: 250px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        margin-bottom: 2vw;
        height: 22vw;
    }

    main {
        margin: 1vw 1vw 1vw 1vw;
    }

    h1 {
        font-size: 17.1vw;
    }

    button {
        height: 10vw;
        width: 20vw;
        font-size: 2.7vw;
    }

    .boardSquare {
        border-width: 1vw;
    }

    #board {
        height: 60vw;
        width: 60vw;
        margin-top: 5vw;
    }

    #infoContainer {
        padding-right: 22vw;
        padding-bottom: 0;
        margin-bottom: 0;
        display: flex;
        align-content: space-between;
        height: 18vw;
    }

    #gameModeContainer {
        margin-top: 2vw;
    }

    #messageBoard {
        font-size: 4vw;
        margin-bottom: 1vw;
        text-align: center;
    }

    #x {
        margin-top: -4.5vw;
    }

    #x, #y {
        font-size: 7vw;
        margin-left: -6.5vw;
    }

}
